body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 11px;
  color: #333;
}
canvas { width: 100%; height: 100% }
p{margin: 0;}

#dbugger{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 420px;
  padding: 22px;
  opacity: .7;
  background-color: #F5F5F5;
  overflow: auto;
}
#dbugger[data-state=open]{display: block;}

#dbugger section{
  padding: 12px 0px 22px;
  border-top: 1px solid #DDD;
}
#dbugger section[data-state=open] > *{display: block;}
#dbugger section[data-state=closed] > *{display: none;}

#dbugger section[data-state] > .sectionheader::before{display: inline-block;margin-right: 4px;}
#dbugger section[data-state=open] > .sectionheader::before{content: "-"; }
#dbugger section[data-state=closed] > .sectionheader::before{content: "+";}
#dbugger section[data-state=open] > .sectionheader,
#dbugger section[data-state=closed] > .sectionheader{display: block;}
#dbugger .sectionheader{cursor: pointer;}
#dbugger .sectionheader:hover{text-decoration: underline;}

label{
  display: block;
  margin: 14px 0px 6px;
}
#dbugger input[type=range]{width: 320px;}
.countdown{
  position: absolute;
  z-index: 99;
  top: 4vw;
  left: 4vw;
  color: #FFF;
  height: 6vw;
  font-size: 4vw;
  line-height: 6vw;
  border-top-left-radius: 3.2vw;
  border-bottom-right-radius: 3.2vw;
  border: .3vw solid #999;
  overflow: hidden;
}
.countdown #ui_countdown,
.countdown .flag{
  height: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.countdown #ui_countdown{
  padding: 0 3vw;
  border-bottom-right-radius: 4vw;
  border-right: .3vw solid #999;

  background: #337ab7;
  background: -moz-linear-gradient(top, #337ab7 0%, #2f61a8 100%);
  background: -webkit-linear-gradient(top, #337ab7 0%,#2f61a8 100%);
  background: linear-gradient(to bottom, #337ab7 0%,#2f61a8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337ab7', endColorstr='#2f61a8',GradientType=0 );
  z-index: 2;
}
.countdown .flag{
  margin-left: -3.2vw;
  width: 8vw;
  z-index: 1;
}
.countdown .flag,
.countdown .flag[data-color="green"]{
  background-color: #8bc63e;
}
.countdown .flag[data-color="yellow"]{
  background-color: #fac800;
}
.countdown .flag[data-color="red"]{
  background-color: #ee1d23;
}
.countdown .flag[data-color="sc"]{
  background-color: #337ab7;
}

#scoreouter{
  position: absolute;
  z-index: 99;
  top: 4vw;
  right: 4vw;
  width: 36vw;
}
#scoreouter .label{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: inline-block;}
#scoreouter .ranking{width: 8%;text-align: center;}
#scoreouter .driver{width: 44%;}
#scoreouter .number{width: 8%;text-align: center;}
#scoreouter .laps{width: 10%;text-align: center;}
#scoreouter .status{width: 18%;}
#scoreouter .label.status{text-align: center;}
#scoreouter .classpos{width: 12%;text-align: center;}
#scoreouter .labels,
#scoreouter .scorecard{
  width: 100%;
  height: 3vw;
  line-height: 3vw;
  font-size: 1.3vw;
  margin-bottom: .6vw;
  border-radius: .4vw;
  padding: 0 1vw;
  background-color: #444;
  color: #FFF;
  text-transform: uppercase;
}
#scoreouter .scorecard .status::before{
  content: '';
  display: inline-block;
  border-radius: 8vw;
  height: 1vw;
  width: 1vw;
  margin-right: .5vw;
  border: .2vw solid #FFF;
  vertical-align: text-top;
}
#scoreouter .scorecard[data-status="RUN"] .status::before{background-color: green;}
#scoreouter .scorecard[data-status="OUT"] .status::before{background-color: orange;}
#scoreouter .scorecard[data-status="IN"] .status::before{background-color: red;}

#scoreouter .labels{
  font-size: 1vw;
  line-height: 2vw;
  height: 2vw;
}
/*#score .scorecard:nth-child(1n+3){display: none;}*/
#scoreouter .scorecard[data-category="LMP1"]{background-color: #cc0c00;}
#scoreouter .scorecard[data-category="LMP2"]{background-color: #335687;}
#scoreouter .scorecard[data-category="LM GTE PRO"]{background-color: #009e49;}
#scoreouter .scorecard[data-category="LM GTE AM"]{background-color: #ff6600;}

#ui_sc{
  display: none;
  font-size: 1.4vw;
  color: #FFF;
  text-align: center;
  position: absolute;
  top: 12vw;
  left: 8vw;
  width: 18vw;
  height: 4px;
}
#ui_sc[data-isSC="true"]{
  display: block;
}
#ui_sc .rotator{
  position: absolute;
  right: 0;
  top: -.75vw;
  display: inline-block;
  vertical-align: middle;
  height: 3vw;
  width: 3vw;
  animation: rotator 1s infinite;
  animation-timing-function: linear;
}
#ui_sc .rotator:first-child{right: auto; left: 0;}
#ui_sc .rotator::before,
#ui_sc .rotator::after{
  content: '';
  display: block;
  position: absolute;
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 1vw;
  top: 25%;
}
#ui_sc .rotator::before{left: 0;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,50,50,1) 0%, rgba(125,185,232,0) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,50,50,1) 0%,rgba(125,185,232,0) 100%);
  background: radial-gradient(ellipse at center, rgba(255,50,50,1) 0%,rgba(125,185,232,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#007db9e8',GradientType=1 );
}
#ui_sc .rotator::after{right: 0;
  background: -moz-radial-gradient(center, ellipse cover, rgba(48,84,244,1) 0%, rgba(125,185,232,0) 100%);
background: -webkit-radial-gradient(center, ellipse cover, rgba(48,84,244,1) 0%,rgba(125,185,232,0) 100%);
background: radial-gradient(ellipse at center, rgba(48,84,244,1) 0%,rgba(125,185,232,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3054f4', endColorstr='#007db9e8',GradientType=1 );
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
